  name: Checkmarx One Scan
  on:
    push:
      branches:
        - main
        - master
        - dev

  jobs:
    build:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout (current repo)
          uses: actions/checkout@v4



        - name: Install Maven, NPM, ... # Add any necessary package management
          run: |
            sudo apt install maven
            ls -a




        - name: Run Checkmarx One Scan
          uses: Checkmarx/ast-github-action@2.3.28
          with:
            base_uri: 'https://us.ast.checkmarx.net'
            cx_tenant: 'bs-auth'
            cx_client_id: ${{ secrets.CX_CLIENT_ID }}
            cx_client_secret: ${{ secrets.CX_CLIENT_SECRET }}
            project_name: ${{ github.repository }}
            branch: ${{ github.ref_name }}
            scan_params: '--scan-types sast,iac-security --debug'
            github_token: ''
          continue-on-error: true

        
